*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
  max-width: 1044px;
  margin: 0 auto;
  width: 100%;
}
.container-2
{
  max-width: 1520px;
  margin: 0 auto;
  width: 100%;
}
.container-for-title
{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
:root
{
  --color--green: #0071E3;
}
body
{
  font-family: "Inter", serif;
}
.header
{
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  background: #161617CC;
}
.nav
{
  padding-top: 17px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.nav a:hover
{
  text-decoration: underline;
  color: var(--color--green) !important;
}
.nav a
{
  transition: .4s;
  text-decoration: none;
  color: #fff;
}
.nav ul
{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
}
.phone-one
{
  color: #fff;
  background: url('../images/iphone1.png') no-repeat center / cover;
  height: 600px;
}
.phone-one__title
{
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.phone-one__title h1
{
  font-family: Inter;
  font-size: 51.41px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.2800000011920929px;
}
.phone-one__title p
{
  font-family: Inter;
  font-size: 24.28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.19599999487400055px;
  padding-bottom: 20px;
}
.phone-one__button1:hover
{
  transform: scale(103%);
  color: var(--color--green);
  border: 1px solid var(--color--green);
  background: rgba(0, 0, 0, 0);
}
.phone-one__button1
{
  transition: .3s;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 50px;
  border: 1px solid var(--color--green);
  background: var(--color--green);
  color: #fff;
  font-family: Inter;
  font-size: 16.87px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37400001287460327px;
}
.phone-one__button2:hover
{
  transform: scale(103%);
  border: 1px solid var(--color--green);
  background: var(--color--green);
  color: #fff;
}
.phone-one__button2
{
  transition: .3s;
  cursor: pointer;
  margin-left: 17px;
  padding: 12px 22px;
  border-radius: 50px;
  color: var(--color--green);
  border: 1px solid var(--color--green);
  background: rgba(0, 0, 0, 0);
  font-family: Inter;
  font-size: 16.73px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37400001287460327px;
}
.phone-two
{
  margin-top: 12px;
  color: #fff;
  background: url('../images/iphone2.png') no-repeat center / cover;
  height: 600px;
}
.phone-two__title
{
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.phone-two__title h1
{
  font-family: Inter;
  font-size: 51.41px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.2800000011920929px;
}
.phone-two__title p
{
  font-family: Inter;
  font-size: 24.28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.19599999487400055px;
  padding-bottom: 20px;
}
.phone-two__button1:hover
{
  transform: scale(103%);
  color: #fff;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
}
.phone-two__button1
{
  transition: .3s;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  font-family: Inter;
  font-size: 16.87px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37400001287460327px;
}
.phone-two__button2:hover
{
  transform: scale(103%);
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
.phone-two__button2
{
  transition: .3s;
  cursor: pointer;
  margin-left: 17px;
  padding: 12px 22px;
  border-radius: 50px;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  font-family: Inter;
  font-size: 16.73px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.37400001287460327px;
}
.watch
{
  margin-top: 12px;
  /* color: #fff; */
  background: url('../images/watch.png') no-repeat center / cover;
  height: 600px;
}
.watch__title
{
  padding-top: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.watch__title p
{
  font-family: Inter;
  font-size: 24.61px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.19599999487400055px;
  padding-bottom: 7px;
}
.watch__title p+p
{
  font-family: Inter;
  font-size: 24.61px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.19599999487400055px;
  padding-bottom: 19px;
}

.watch__title-h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.watch__title-h1 i
{
  padding-bottom: 5px;
}
.option
{
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
.fitness__title
{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fitness__title button
{
  cursor: pointer;
  margin-top: 14px;
}
.fitness__title span
{
  font-family: Inter;
  font-size: 13.78px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2240000069141388px;
  color: #6E6E73;
}
.fitness__title p
{
  font-family: Inter;
  font-size: 18.05px;
  font-weight: 400;
  letter-spacing: 0.23100000619888306px;
  line-height: 25px;
}

.fitness
{
  background: url('../images/girl.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
}
.imac
{
  background: url('../images/imac.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
  color: #fff;
}
.ultra
{
  display: flex;
  color: #E96112 !important;
}
.iwatch
{
  background: url('../images/iwatch.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
  color: #fff;
}
.fitness__button1:hover
{
  transform: scale(103%);
  border: 1px solid var(--color--green);
  background: #00000000;
  color: var(--color--green);
}
.fitness__button1
{
  transition: .3s;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 50px;
  border: 1px solid var(--color--green);
  background: var(--color--green);
  color: #fff;
}
.fitness__button2:hover

{
  transform: scale(103%);
  border: 1px solid var(--color--green);
  background: var(--color--green);
  color: #fff;
}
.fitness__button2
{
  transition: .3s;
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 13px;
  border: 1px solid var(--color--green);
  background: #00000000;
  color: var(--color--green);
  border-radius: 50px;
}
.iPad
{
  background: url('../images/ipad.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
}
.two-hands-p
{
  font-family: Inter;
  font-size: 18.87px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.23100000619888306px;
  text-align: center;
}
.card p
{
  font-family: Inter;
  font-size: 18.87px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.23100000619888306px;
  text-align: center;
}
.two-hands
{
  background: url('../images/2iphone.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
}
.card
{
  background: url('../images/card.png')no-repeat center / cover;
  width: 753.6px;
  height: 464px;
}
.iPad-p
{
  margin-top: 10px;
}
.iPad-end
{
  display: flex;
  justify-content: center;
}
.iPad-end p
{
  margin-top: 265px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.iPad-end-p
{
  color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right,  #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
	/* !!!!!!!!background: linear-gradient(90.43deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%); */
}

@keyframes slide
{
  from
  {
    transform: translateX(0);
  }
  to
  {
    transform: translateX(-100%);
  }
}

.photos
{
  overflow: hidden;
  padding: 12px 0;
  background: #fff;
  white-space: nowrap;
  position: relative;
}
/*!!!!!!!!!!!!!!!!!!!!  */
.photos:before,
.photos:after
{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.photos:before
{
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  left: 0;
}
.photos:after
{
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  right: 0;
}
.photos:hover .photos-slide
{
  animation-play-state: paused;
}
.photos-slide
{
  display: inline-block;
  animation: 15s slide infinite linear;
}
.photos-slide img
{
  height: 600px;
  margin: 0 6px;
}
/*!!!!!!!!!!!!!!!!!!!!  */
.dot
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  margin-bottom: 15px;
}
.dots:hover
{
  background: #333333;
  transform: scale(185%);
}
.dots
{
  transition: .3s;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-left: 15px;
  background: #949494;
}
.fun
{
  display: flex;
  margin-bottom: 50px;
}
.fun a
{
  text-decoration: none;
}
.fun h3
{
  color: #fff !important;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.2240000069141388px;
}
.fun__fitness
{
  background: url('../images/fun1.png') no-repeat center / cover;
  width: 417px;
  height: 236px;
  padding: 15px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.fun__arcade
{
  background: url('../images/fun2.png') no-repeat center / cover;
  width: 417px;
  height: 236px;
  padding: 15px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.fun__gregg
{
  background: url('../images/fun4.png') no-repeat center / cover;
  width: 417px;
  height: 236px;
  padding: 15px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.fun__tv
{
  background:
    linear-gradient(0deg, rgba(29, 29, 31, 0.5) 0%, rgba(0, 0, 0, 0) 50%),
    url('../images/fun5.png') no-repeat center / cover;
  width: 417px;
  height: 236px;
  padding: 15px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.end-title
{
  font-family: Inter;
  font-size: 11.81px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  color: #0000008F;
}
.end-title a
{
  font-family: Inter;
  font-size: 11.81px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  text-align: left;
  color: #454545;
}
.end-title__color
{
  padding-top: 17px;
  background: #F5F5F7;
}
.end-title button
{
  border: 2px solid #CECECF;
  background: #CECECF;
  width: 980px;
}
.small
{
  font-family: Inter;
  font-size: 6px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
}
.footer
{
  margin-top: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer ul
{
  list-style: none;
}
.footer a
{
  text-decoration: none;
}
.big
{
  font-family: Inter;
  font-size: 12px;
  font-weight: 600 !important;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  color: #000000 !important;
}
.footer__nav ul a
{ padding-bottom: 10px;
  font-family: Inter;
  font-size: 11.81px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  color: #454545;
}
.footer__nav ul
{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 11.6px;
}
.foot-end
{
  padding-top: 35px;
  padding-bottom: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  color: #6C6C6D;
}
.foot-end span
{
  font-family: Inter;
  font-size: 11.81px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.11999999731779099px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: auto;
  color: #0066CC;
}
.real-end
{
  padding-bottom: 25px;
}